.panel_teaching {
    height: auto;
    overflow: auto;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #ccccff;
}

.panel_teaching_fix {
	 position: absolute;
	 top: 0px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 width: 100%;
	 height: auto;
    overflow: auto;
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ccccff;
}

.topic {
    width: auto;
    position: relative;
    margin-top: 15px;
    font-size: 14pt;
}

.topic h1 {
    font-size: 22pt;
    font-weight: bold;
}

.topic h2 {
    font-size: 18pt;
    font-weight: bold;
}

.topic h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 10px;
}

.topic p {
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.topic li {
    list-style-type: square;
}

.topic_fix {
    position: relative;
	 height: 100%;
	 overflow: auto;
    margin: 0px auto;
    margin-left: 15px;
    padding: 0px;
    font-size: 14pt;
}

.topic_fix h1 {
    font-size: 22pt;
    font-weight: bold;
}

.topic_fix h2 {
    font-size: 18pt;
    font-weight: bold;
}

.topic_fix h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 10px;
}

.topic_fix p {
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.topic_fix li {
    list-style-type: square;
}


.publication_reference {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    display: list-item;
    list-style-type: square;
}




/* old version */
/* ----------- */

.teaching_topic {
    font-weight: bold;
    font-size: 14pt;
    color: rgb(0, 0, 0);
}

.teaching_subtopic {
    font-weight: bold;
    font-size: 12pt;
    margin-top: 0px;
	margin-bottom: 0px;
}

/* home text */
/* --------- */

.teaching_text {
    margin-top: 0px;
	margin-bottom: 0px;
}

.teaching_text a:link {
    color: black;
    text-decoration: none;
}

.teaching_text a:visited {
    color: black;
    text-decoration: none;
}

.teaching_text a:hover {
    color: black;
    text-decoration: underline;
}
